body{text-align: center;}
.box{
   outline: rgb(210, 123, 123) solid 13px;
    width: 150px;
    height: 150px;
    border: 4px solid black;
    background-color: rgb(145, 187, 212);
    padding: 13px;
    margin: 0 auto;
 }
.w{ background-color: rgb(130, 211, 149);
    height: 150px;   
}
hr{width: 500px;
    border-style: dashed;
}

p{font-size: 30px;}
.gray{
    width: 600px;
    border: 1px solid gray;
    margin: 0 auto;
    font-size: 0;
}
 .child{
    width: 180px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
 }
 .c{border: 2px solid black;
    
}
.cd{width: 176px;
    border: 2px solid black;
}